@model InforceURLShortner.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form asp-action="Register" asp-controller="Account">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label><br />
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Login" class="control-label">Enter login</label><br />
            <input type="text" asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger" />
        </div>
        <div>
            <label asp-for="Password" class="control-label">Enter password</label><br />
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger" />
        </div>
        <div>
            <label asp-for="PasswordConfirm" class="control-label">Confirm password</label><br />
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger" />
        </div>

        <div class="form-group">
            <br />
            <input type="submit" value="Register" class="btn btn-primary" />
        </div>
    </div>
</form>